body {
  margin: 0px;
  font-family: Helvetica;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
}

ul {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
}

li:not(:last-of-type) {
  margin-right: 12px;
}

a {
  text-decoration: none;
  color: #252525;
}

main > .cover {
  background-image: url("https://github.com/eduardogenari/clon-spotify/blob/master/images/landing.jpg?raw=true");
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > .cover > h1 {
  font-size: 70px;
  font-weight: 700;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}

main > .cover > h3 {
  color: #fff;
  margin: 0 auto;
}

main > .white {
  display: flex;
  height: 550px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

main > .white > .title > h2 {
  text-decoration: underline;
  text-decoration-color: #00b172;
}

main > .white > .features {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main > .white > .features > article {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > .white > .features > article > h3 {
  color: #00b172;
}

main > .white > .features > article > p {
  text-align: center;
}

main > .green {
  display: flex;
  margin: 25px;
  background-color: #00b172;
  height: 650px;
  justify-content: space-around;
  align-items: center;
}

main > .green > .whiteText {
  width: 380px;
  display: flex;
  color: #fff;
  flex-direction: column;
  text-align: left;
}

main > .green > .whiteText > h2 {
  text-decoration: underline;
}
